extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header
    .row
      .col-lg-6
        //- = signifies that following content is buffered code, a JavaScript object
        h1= pageHeader.title
          //- #{} delimiters are used to insert data into a specific place, like part of a piece of text
          small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        each location in locations
          .col-xs-12.list-group-item.rounded
            h4
              a(href='/location')= location.name
              small &nbsp;
                +outputRating(location.rating)
              span.badge.pull-right.badge-default= location.distance
            p.address= location.address
            p
              each facility in location.facilities
                span.label.label-warning= facility
                | &nbsp;
          
    .col-xs-12.col-sm-4
      p.lead= sidebar